doctype html
html
  head
    title Googlemapssss
    style.
      #map {
      height: 400px;
      width: 600px;
      margin-left: 20%;
      margin-right: 20%;
      }
  |   
  body
    h1 Marcadores en google maps :p
    br
    br
    |     
    #map
    |     
    script.
      function initMap() {
      //var uluru = {lat: -25.363, lng: 131.044};
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      //punto central a definir *** 
      center: {lat:19.4326077, lng:-99.13320799999997}
      });
      
      
      var data = !{JSON.stringify(marcadores)}
        for(i=0;i<!{JSON.stringify(total)};i++){
            var marker = new google.maps.Marker({
                position: data[i],
                map: map
                });
        } 
      
      /*
      //cuando ya tengas el puntosProvider.js
      
      var data = !{JSON.stringify(marcadores)}
        for(i=0;i<total;i++){
            var marker = new google.maps.Marker({
                position: data[i],
                map: map
                });
        } 
      
      
      
      
        var data = !{JSON.stringify(ulur)}
        for(i=0;i<11;i++){
            var marker = new google.maps.Marker({
                position: data[i],
                map: map
                });
        } */
      }
    |     
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBBCPkawPFIoBA1ljdpKxaP6qlCoQNL8DM\
    &callback=initMap')
